body {
	background: #fff url('/servers/rvl_servers/romnation.net/rn/topbarBg.png') repeat-x;
	font-family: verdana;
	font-size: 77%;
	color: #000;
	padding: 5px 0;
}

h1 {
	font-size: 200%;
	margin-bottom: 10px;
}

h2 {
	font-size: 150%;
	margin-bottom: 10px;
}

h3 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 5px;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	margin-bottom: 10px;
}

td {
	text-align: left;
}

th {
	font-weight: bold;
}

input {
	vertical-align: middle;
}

strong {
	font-weight: bold;
}

td#navcell {
	vertical-align: top;
	width: 140px;
}

div.leftnav {
	background: url ('/servers/rvl_servers/romnation.net/rn/sidebarBg.png') right;
	border-top: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 10px;
}

div.leftnav a {
	font-weight: bold;
	color: #243D9F;
}

div.leftnav a:visited {
	color: #243D9F;
}

div.leftnav a:hover {
	color: #000;
}

div.leftnav h3 {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #DBDBDB;
}

div.leftnav li {
	padding: 5px;
	border-bottom: 1px solid #DBDBDB;
}

div.leftnav li:hover {
	background-color: #DBDBDB;
}

div#logo {
	clear: both;
	float: left;
	margin: 0px 0px 7px 2px;
}

div#logolinks {
	float: right;
	text-align: center;
	margin-top: 10px;
	margin-right: 50px;
}

div#logolinks a {
	font-weight: bold;
}

div#logoroms {
	margin-top: 5px;
}

div#logoroms a {
	font-weight: normal;
}

table#maintable {
	clear: both;
	border: none;
	width: 100%;
}

td#contentcell {
	padding: 0 15px 0 15px;
	vertical-align: top;
	width: auto;
}


td#rightnavcell {
	text-align: center;
	vertical-align: top;
	width: 170px;
}

div#header {
	width: auto;
	padding: 0 0 22px 2px;
}

div#header a {
	font-weight: bold;
}

div#headerlinks {
	float: left;
	padding-left: 3px;
}

div#search {
	float: right;
	padding-right: 3px;
}

form#searchform {
	display: inline;
}

div#search div {
	display: inline;
	margin: 0px 2px 0px 2px;
}

div#search input {
	margin: 2px;
}

input#searchtext {
	font-family: verdana;
	font-size: 105%;
}

input#searchbutton {
	font-family: verdana;
	font-size: 80%;
	font-weight: bold;
	padding: 1px;
}

div#navigation {
	margin-bottom: 5px;
}

div#copyright {
	text-align: center;
	margin-top: 15px;
}

div.news h2 {
	margin:0;
}

div.newsdate {
	font-size: 10px;
	margin-bottom: 10px;
}

div#leaderboard {
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

div#leaderboardpremium {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#leaderboardpremium table {
	margin: auto;
}

div#leaderboardpremium td {
	width: 300px;
	height: 70px;
	border: 1px solid #DDD;
}

div#leaderboardpremium td.vacant {
	background-color: #F6F6F6;
}


div.romset a {
	font-weight: bold;
}

div.romset h2 a {
	font-weight: normal;
}

div.nicetable {
}

div.nicetable table {
	width: 100%;
	border: 1px solid #dddddd;
}

div.nicetable tr.firsttr {

	background: url('/servers/rvl_servers/romnation.net/rn/secondtopbg.png') repeat-x;
}

div.nicetable tr.firsttr:hover {
	background: url('/servers/rvl_servers/romnation.net/rn/secondtopbg.png') repeat-x;
}

div.nicetable td, div.nicetable th {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

div.nicetable tr:hover {
	background-color: #ddd;
}

div.nicetable td.firsttd {
	font-weight: bold;
	text-align: right;
}

div.rating_bar_container {
	width: 100px;
	background-color: #ddd;
	border: 1px solid #ccc;
}

div.rating_bar {
	width: 100%;
	background: url('/servers/rvl_servers/romnation.net/images/rating_bar_bg.gif') 0 0 repeat-x;
}

div.rating_bar div {
	height: 5px;
	background: url('/servers/rvl_servers/romnation.net/images/rating_bar_fg.gif') 0 0 repeat-x;
}

div.rating_bar_details {
	text-align: center;
	font-family: arial;
	font-size: 90%;
	color: #3B3B3B;
}

div.listings td {
	padding: 0px 5px 10px 0;
}
	
	
div.dropdown {
	width: 400px;
	margin-bottom: 10px;
}

div.dropdown ul {
	background-color: #eee;
	border: 1px solid #ddd;
}

div.dropdown li {
	padding: 5px;
	background: url('/servers/rvl_servers/romnation.net/images/darrow-black.gif') right 8px no-repeat;
	font-weight: bold;
	position: relative;
}

div.dropdown li ul {
	width: 100%;
	z-index: 6000;
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	border: 1px solid #ddd;
}

div.dropdown li li {
	background: none;
	border: none;
	font-weight: normal;
}

div.dropdown li:hover ul, div.dropdown li.over ul {
	display: block;
	z-index: 6000;
}

div.dropdown li

div#downloadsection .rating_bar_container {
	margin-bottom: 10px;
}

div#downloadsection td {
	vertical-align: top;
}

div#downloadlink {
	height: 60px;
	background: url('/servers/rvl_servers/romnation.net/rn/download.gif') no-repeat;
	padding: 10px 0 0 60px;
}

div#cheatslink {
	height: 60px;
	background: url('/servers/rvl_servers/romnation.net/rn/cheatsicon.gif') no-repeat;
	padding: 15px 0 0 60px;
}

div#downloadlink h2 a, div#cheatslink h2 a {
}

div#downloadparents, div#downloadparents a {
	font-size: 100%;
}

div#screenshots td {
	padding: 10px;
}

div#screenshots img {
	border-width: 1px;
}

div#codecheck {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #eee;
}

div#codecheck img {
	margin-bottom: 5px;
}

div#codecheck p {
	font-size: 120%;
	font-weight: bold;
}

div#codediv input {
	font-family: verdana;
	font-size: 150%;
}

div#esalist ul {
	margin-left: 30px;
	list-style: disc;
}

div#esalist li {
	padding-bottom: 10px;
}
